# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Uploaded files
uploads/*
!uploads/.gitkeep
!uploads/avatars/
uploads/avatars/*
!uploads/avatars/.gitkeep
!uploads/messages/
uploads/messages/*
!uploads/messages/.gitkeep
